@use '/app/css/variables'as *;

.header {
  z-index: 3;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  height: 40px;
  background-color: white;
  border-bottom: 1px solid rgb(225, 225, 225);

  @include mq(md) {
    position: fixed;
    left: 0;
    z-index: 10;
    min-height: 45px;
    padding: 0 1.5%;
    align-items: center;
  }

  .link {
    transition-duration: 0.3s;

    &:hover {
      color: #5cb85c;
    }
  }

  h1 {
    position: relative;
    font-size: 1.6rem;

    @include mq(md) {
      margin-left: 80px;
    }

    a {
      font-size: 1.6rem;
      vertical-align: middle;
    }

    .icon {
      position: relative;
      font-size: 18px;
      margin-right: 10px;
      line-height: 1;
      top: -2px;

      @include mq(md) {
        margin-right: 5px;
        font-size: 1.4rem;
      }
    }

    .tenantName {
      position: relative;
      top: 2px;

      @include mq(md) {
        margin-right: 5px;
        font-size: 1.4rem;
        line-height: 1.2;
      }
    }
  }


}