@use '/app/css/variables'as *;

.wrap {
  position: fixed;
  top: 0;
  left: 180px;
  width: calc(100% - 180px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(md) {
    width: 100%;
    left: 0;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  /* スピナーの色 */
  border-radius: 50%;
  width: 40px;
  /* スピナーのサイズ */
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}